[Desktop Entry]
Type=Application
Name=Monitor-Umschalter
Exec=/home/gummi/apps/monitor-profiles/bin/monitors_menu_launcher.sh
Icon=video-display
Categories=Settings;X-KDE-settings-hardware;
Terminal=false
