#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Monitor Reset
Comment=Setzt alle Monitore auf Standardwerte zurück
Exec=/bin/bash -lc "$HOME/.local/bin/reset-monitors.sh"
Icon=video-display
Terminal=false
Type=Application
Categories=Settings;System;
StartupNotify=true
